/*Tab*/
.tab {
    -fx-pref-width: 185;
} 

.tab-header-background {
    -fx-background-color: #1a67a3;
}

.tab:hover {
	-fx-cursor: hand;
}

/*JFX-tab - spesialversjon av tab*/
/*Farger selection-line hvit som standard*/
.jfx-tab-pane .tab-selected-line {
	-fx-background-color: white;
}
 
/*Farger tabbenes tekst hvit ved hovering*/
.jfx-tab-pane .tab:hover .tab-label {
    -fx-text-fill: white;
}

/*Farger tabbers tekst hvit nar de er valgt */
.jfx-tab-pane .tab:selected .tab-label {
    -fx-text-fill: white;
}

/*Button*/
.button{
    -fx-background-color: transparent;
}

.button:hover{
	-fx-cursor: hand;
}

/*Sokesymbolet blir blatt ved hovering */
#glyph:hover, .button:hover #glyph {
	-fx-text-fill: #1a67a3;
}


/*Bakgrunn */
.backgroundPane {
	-fx-background-color: white;
}


/*Tekstfelt - gjor om til bare en linje */
.text-field {
    -fx-background-color: black, white ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
    -fx-padding: 0;
}
.text-field:focused {
    -fx-background-color: #1a67a3, white ;
}

/*Autocomplete */
/*Vil justere bredden på autocomplete-viewet og flytte den litt ned slik at den ikke ligger over sokefeltet */


/*Table og list i profiletab */

 .table-view, .table-view:focused, .list-view, .list-view:focused{
   -fx-background-color: transparent;
}

/*
.table-row-cell:selected:hover, .list-cell:selected:hover {
    -fx-background-color: gray;
}
* 
*/

.table-row-cell:hover, .list-cell:hover {
	-fx-background-color:  rgba(0,0,0,0.1);
	-fx-cursor: hand;
}

.table-view .column-header {
	-fx-background-color: #1a67a3;
	-fx-background-insets: 0.2;
	-fx-text-fill: white;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header{
    -fx-pref-height: 32px;
}

.table-view .table-row-cell {
	-fx-pref-height: 32px;
}

.table-view .table-column {
  -fx-alignment: CENTER;
}

/*Tekstfelt med notat: fjerner kanter */
.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}

/*Checklistview */
/* 
.list-view * {
	-fx-background: transparent;
	-fx-background-color: transparent;
	-fx-text-fill: black;
}

.check-box .box {
	-fx-background-color: white;
	-fx-border-color:grey;
	-fx-border-radius:3px; 
}

.check-box:selected .mark {
	-fx-background-color: white;
}

.check-box:selected .box {
 	-fx-background-color: #28a3f4;
}*/
